/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
}	

html {
  background-color: #fff;
}

body {
	color: #000;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #fff;
	font-family: "Lucida Grande";
}

body div#body_home {
  left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
  max-height: 97.5%;
  position: absolute;
}
body div#body_home:after { /* Clear fix */ content:  ".";   display: block;  height: 0;  clear: both;  visibility: hidden; }
body div#body_home { /* IE fix */ zoom: 1; }


body div#body_home div {
/*  margin-top: -1px;*/
}

body div#body_home p {
	clear: both;
	position: relative;
	margin-left:0 !important;
	text-indent:0 !important;
}

/* Time */

body .date  { font-size: 11px ;
   text-align: center; 
   color: #555; 
   width: 7em;
   margin: 1em 0 1em 50%;
   position: relative;
   left: -3.5em;
   padding: 3px 3px 4px 3px; 
   background: #eee;
/*   border-top: 1px dotted #ddd; */
/*   border-bottom: 1px dotted #ddd;*/
   border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;
   text-shadow: 0px -1px 1px #fff;
}
body .time {
  float: right;
  width: 5em !important;
  height: 13px !important;
  margin-right: -7em;
	color: #aaa;
	text-indent: 15px;
	word-wrap: normal;
	white-space: nowrap;
	display: inline-block;
  font-size: 11px;
}

/* Links */

a, a:link {
  color: #1788DF;
  border-color: #27D6EB;
  text-decoration: none;
  border-bottom: dotted 1px;
}

a:hover {
  color: #2BD0FF;
  border-color: #011124;
}

/* Topic Bar */

#topic_bar {
  top: 0;
  left: 0;
  right: 0;
  color: #333;
  z-index: 400;
/*  opacity: 0.95;*/
  font-size: 12px;
  text-align: center;
  position: fixed;
  background: #efefef -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.81, rgb(239,239,239)),
      color-stop(1, rgb(250,250,250))
  );
  padding: 3px 0.5em 3px;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);

  
}

#topic_bar a {
  color: #00e;
  border-color: #00e;
}

#topic_bar a:hover {
  color: #0080FF;
  border-color: #0080FF;
}

/* Images */

body a img {
    border: 0;
}

body img {
    display: block;
    max-width: 95%;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
}

/* Emoji */

span.emoji {
  font-size: 16px;
  line-height: 14px;
  position: relative;
  top: 2px;
}

/* Remember Line */

div[id=mark] {
  display: none;
  position: relative;
  z-index: 295;
  margin: 6px 0 4px 0 !important;
  height: 5px;
  opacity: 0.8;
  border-bottom: 1px solid transparent;
/*  -webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#F5F4F2), to(#F5F4F2), color-stop(.3,#3FADAD), color-stop(.7,#972694));*/
  /* border-bottom: 1px solid -webkit-gradient(linear, 0% 0%, 100% 0%, from(#F5F4F2), to(#ddd), color-stop(.1,#ffffff), color-stop(.9,#ffffff)); */
/*  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#F5F4F2), to(#F5F4F2), color-stop(.3,#3FADAD), color-stop(.7,#972694));*/
  /* -webkit-transition: 0.2s linear; */
}

/* Nickname Colors */

body div[ltype=privmsg] .sender[mtype=myself],
body div[ltype=action] .sender[mtype=myself] { 
  color: #9C00AA; 
}

body div#body_home p { margin-left: 11em !important; margin-right: 8em; }

body .sender[mtype=normal], body .sender[mtype=myself] { 
  margin-left: -11em; 
  float: left; 
  width: 10.5em;
  text-align: right;
  font-weight: bold !important; 
  cursor: pointer;
  
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline_nickname { font-weight: bold; color: green; }

/* p[type=myself] */
.correction { 
  font-weight: bold; 
  background-color: yellow; 
  cursor: default;
}

.repeating_author .sender[mtype=normal], .repeating_author .sender[mtype=myself] {
  visibility: hidden;
}

body .sender[mtype=normal][colornumber='0'] { color: #888; }
body .sender[mtype=normal][colornumber='1'] { color: #2EA700; }
body .sender[mtype=normal][colornumber='2'] { color: #AC005C; }
body .sender[mtype=normal][colornumber='3'] { color: #9D00C9; }
body .sender[mtype=normal][colornumber='4'] { color: #499C00; }
body .sender[mtype=normal][colornumber='5'] { color: #7F4FFF; }
body .sender[mtype=normal][colornumber='6'] { color: #8BC100; }
body .sender[mtype=normal][colornumber='7'] { color: #7200CD; }
body .sender[mtype=normal][colornumber='8'] { color: #970007; }
body .sender[mtype=normal][colornumber='9'] { color: #1238B8; }
body .sender[mtype=normal][colornumber='10'] { color: #136666; }
body .sender[mtype=normal][colornumber='11'] { color: #904000; }
body .sender[mtype=normal][colornumber='12'] { color: #808000; }
body .sender[mtype=normal][colornumber='13'] { color: #2092AE; }
body .sender[mtype=normal][colornumber='14'] { color: #1909AF; }
body .sender[mtype=normal][colornumber='15'] { color: #985D00; }


/* NOTICE/CTCP/WALLOPS */

body div[ltype=notice],
body div[ltype=ctcp],
body div[ltype=wallops] {
	color: #f00;
  	z-index: 191;
  	position: relative;
    padding-left: 5px;
}
body div[ltype=notice] .message,
body div[ltype=ctcp] .message,
body div[ltype=wallops] .message {
  /* padding: 2px 5px 2px 5px; */
/*  border: 1px solid #FA9B9D;*/
}
body div[ltype=notice],
body div[ltype=ctcp],
body div[ltype=wallops] {
  background: #FDE3E3;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}

body div[ltype=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* PRIVMSG */

body div[ltype=privmsg][highlight=false]  {
 	padding: 4px 5px 2px 5px;
}
body div.repeating_author[ltype=privmsg][highlight=false]  {
 padding-top: 0;
 padding-bottom: 2px;
}
body div.repeating_author[ltype=notice] {
 padding-top: 0;
 padding-bottom: 2px;
}

body div[ltype=privmsg][highlight=true],
body div[ltype=action][highlight=true] {
	font-weight: normal;
 	padding: 2px 5px 1px 5px;
	background-color: rgba(255, 255, 190, 1) !important;
}

body div[ltype=privmsg][highlight=true] .message,
body div[ltype=action][highlight=true] .message {
	color: black;  
}

/* [highlight=false] + [highlight=true]  {
  border-top: 1px solid rgba(220, 210, 255, 0.3); 
}
[highlight=true] + [highlight=false]   {
  border-top: 1px solid rgba(220, 210, 255, 0.6); 
} */

body div div[ltype=privmsg].temphightlight,
body div div[ltype=action].temphightlight {
  background: #FFF9D8 !important;
}
body div div[ltype=privmsg][highlight=true].temphightlight,
body div div[ltype=action][highlight=true].temphightlight {
  background: #F8EE9C !important;
}

body div[ltype=privmsg] .message {
	color: #444;
}

body div[ltype=privmsg] .sender {
	font-weight: 700;
}

span.message_content.scream {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

/* ACTION */

body div[ltype=action]  {
  /* background: #f4f4f4;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; */
 	padding: 3px 5px 3px 5px;
  text-align: center;
  margin-left: -5em;
}

body div[ltype=action] .message {
  color: #888 !important;
}

body div[ltype=action] .sender {
  float: none !important;
  margin-left: 0;
	font-weight: 700;
  color: #888 !important;
}

body div div[ltype="privmsg"][mtype=myself] .message, 
body div[ltype=action][mtype=myself] .message {
	color: #5B5463;
}

body div[ltype=action] .sender:before {
	content: "»";
	margin-right: 0.4em;
}

body div[ltype=action] .sender:after {
	content: "";
}

body div[ltype=action] .message_content {
  padding-left: 4px;
}

/* REPLY/SYSTEM/ERROR/DCC/DEBUG/INVITE */

body div[ltype=invite],
body div[ltype=reply],
body div[ltype=system],
body div[ltype=error],
body div[ltype=error_reply],
body div[ltype=dcc_send_send],
body div[ltype=dcc_send_receive],
body div[ltype=debug_send],
body div[ltype=debug],
body div[ltype=website],
body div[ltype=debug_receive] {
	color: #777;
  	z-index: 190;
	background: #eee;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
body div[ltype=website] {
  background: #fff !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/* GENERAL EVENT */

body div[ltype=join],
body div[ltype=part],
body div[ltype=kick],
body div[ltype=quit],
body div[ltype=kill],
body div[ltype=nick],
body div[ltype=mode],
body div[ltype=website],
body div[ltype=topic] {
  padding: 2px 5px 2px 5px;
    color: #aaa;
}

body div[ltype=invite] .message,
body div[ltype=reply] .message,
body div[ltype=system] .message,
body div[ltype=error] .message,
body div[ltype=error_reply] .message,
body div[ltype=dcc_send_send] .message,
body div[ltype=dcc_send_receive] .message,
body div[ltype=debug_send] .message,
body div[ltype=debug] .message,
body div[ltype=website] .message,
body div[ltype=debug_receive] .message,
body div[ltype=join] .message,
body div[ltype=part] .message,
body div[ltype=kick] .message,
body div[ltype=quit] .message,
body div[ltype=kill] .message,
body div[ltype=nick] .message,
body div[ltype=mode] .message,
body div[ltype=topic] .message {
  margin-left: -11em !important;
  font-size: 11px;
  display: block;
}

body div[ltype=join] .message b, body div[ltype=part] .message b, body div[ltype=quit] .message b {
  font-weight: normal !important;
}


body div[ltype=join] .message:before {
	content: "→";
  	color: #0c0;
  	margin-right: 3px;
}

body div[ltype=kick] .message:before,
body div[ltype=part] .message:before,
body div[ltype=quit] .message:before {
	content: "←";
  	color: #e00;
  	margin-right: 3px;
}

body div[ltype=nick] .message:before {
	content:"•";
  	color: #0c0;
  	margin-right: 3px;
}

/* mIRC Color Codes */

.effect[color-number='0'] { color: #fff; }
.effect[color-number='1'] { color: #000; }
.effect[color-number='2'] { color: #008; }
.effect[color-number='3'] { color: #080; }
.effect[color-number='4'] { color: #f00; }
.effect[color-number='5'] { color: #800; }
.effect[color-number='6'] { color: #808; }
.effect[color-number='7'] { color: #f80; }
.effect[color-number='8'] { color: #ff0; }
.effect[color-number='9'] { color: #0f0; }
.effect[color-number='10'] { color: #088; }
.effect[color-number='11'] { color: #0ff; }
.effect[color-number='12'] { color: #00f; }
.effect[color-number='13'] { color: #f0f; }
.effect[color-number='14'] { color: #888; }
.effect[color-number='15'] { color: #ccc; }
.effect[bgcolor-number='0'] { background-color: #fff; }
.effect[bgcolor-number='1'] { background-color: #000; }
.effect[bgcolor-number='2'] { background-color: #008; }
.effect[bgcolor-number='3'] { background-color: #080; }
.effect[bgcolor-number='4'] { background-color: #f00; }
.effect[bgcolor-number='5'] { background-color: #800; }
.effect[bgcolor-number='6'] { background-color: #808; }
.effect[bgcolor-number='7'] { background-color: #f80; }
.effect[bgcolor-number='8'] { background-color: #ff0; }
.effect[bgcolor-number='9'] { background-color: #0f0; }
.effect[bgcolor-number='10'] { background-color: #088; }
.effect[bgcolor-number='11'] { background-color: #0ff; }
.effect[bgcolor-number='12'] { background-color: #00f; }
.effect[bgcolor-number='13'] { background-color: #f0f; }
.effect[bgcolor-number='14'] { background-color: #888; }
.effect[bgcolor-number='15'] { background-color: #ccc; }